@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
}

:root {
  --foreground: #ffffff;
  --background: #2c2c2c;
  --primary: #d33520;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-cormorant-garamond), Arial, Helvetica, sans-serif;
}

a:hover {
  color: var(--primary);
}

@layer utilities {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (min-width: 1280px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg_orange_logo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
